<html>
    <head>
        {% if title %}
        <title>{{ title }} - swGui</title>
        {% else %}
        <title>swGui</title>
        {% endif %}
    </head>
    <body>
        <div id="nav">
            <h1>swGui</h1>
            <div id="toplinks">
                <a href="/index">home</a>
                <a href='/upload'>upload</a> 
                <a href='/auth/etsy'>Etsy auth</a>
                <a href='/auth/magento'>Magento auth</a>
                <a href='/listings'>listings</a>
                <a href='/scopes'>scopes</a>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>
