<html>
  <head>
    {% if title %}
    <title>{{ title }} - payParse</title>
    {% else %}
    <title>Welcome to payParse</title>
    {% endif %}
  </head>
  <body>
    <div><a href="/index">home</a> <a href='/upload'>upload</a> <a
            href='/auth'>auth</a></div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }} </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
